@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Raleway', sans-serif !important;
}


.text-steel-blue {
    color: #4158A6;
}
.text-amber {
    color: #FF8343;
}

.nav-links a {
    transition: color 200ms linear;
}

.nav-links a:hover {
    color: #FF8343;
}

.bg-header .navbar {
  /* background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  animation: bgWhite 300ms ease-in-out 1 forwards;
}

@keyframes bgWhite {
  to {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

.menu-sm {
  transform: translateX(-200px) !important;
  width: 250px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (max-width: 768px) {
  .page-header {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-bottom: .5rem;
  }
}
/* CTA Button From Uiverse.io by mobinkakei */ 
.cta {
    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    background: #4158A6;
    transition: 1s;
    box-shadow: 6px 6px 0 #FF8343;
    transform: skewX(-15deg);
    border: none;
    cursor: pointer;
    border-radius: .2rem;
    align-items: center;
    letter-spacing: .1rem;
    text-transform: uppercase;
    transition: 0.2s;

  }
  
  .cta:focus {
    outline: none;
  }
  
  .cta:hover {
    transition: 0.2s;
    box-shadow: 10px 10px 0 #0d9488;
    letter-spacing: .2rem;
  }
  
  .cta .second {
    transition: 0.2s;
    margin-right: 0px;
  }
  
  .cta:hover .second {
    transition: 0.2s;
    margin-right: 45px;
  }
  
  .span {
    transform: skewX(15deg);
  }
  
  .second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
  .one {
    transition: 0.2s;
    transform: translateX(-60%);
  }
  
  .two {
    transition: 0.2s;
    transform: translateX(-30%);
  }
  
  .cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: #fbc638;
    }
  
    100% {
      fill: white;
    }
  }


  